* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 85%;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 90%;
    margin: auto;
  }
}

.container-fluid {
  max-width: 100%;
}

@font-face {
  font-family: 'Balkara Free Condensed';
  src: url("../fonts/Balkara/Balkara Free Condensed - npoekmu.me Regular.eot") format("eot"), url("../fonts/Balkara/Balkara Free Condensed - npoekmu.me Regular.ttf") format("ttf"), url("../fonts/Balkara/Balkara Free Condensed - npoekmu.me Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  src: url("../fonts/Helvetica/regular/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/Helvetica/regular/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/regular/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica/regular/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Ultra Light';
  src: url("../fonts/Helvetica/ultra-light/HelveticaNeueCyr-UltraLight.eot");
  src: url("../fonts/Helvetica/ultra-light/HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/ultra-light/HelveticaNeueCyr-UltraLight.woff") format("woff"), url("../fonts/Helvetica/ultra-light/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Light';
  src: url("../fonts/Helvetica/light/HelveticaNeueCyr-Light.eot");
  src: url("../fonts/Helvetica/light/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica/light/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Bold';
  src: url("../fonts/Helvetica/bold/HelveticaNeueCyr-Bold.eot");
  src: url("../fonts/Helvetica/bold/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica/bold/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Helvetica Neue Cyr Roman', sans-serif;
  background-color: #F4F6F0;
  font-size: 10px;
}

.header {
  height: 100vh;
  position: relative;
  background: #F4F6F0;
  background-image: url("https://www.transparenttextures.com/patterns/light-paper-fibers.png");
}

.navbar {
  position: fixed;
  width: 100vw;
  height: 6em;
  background-color: rgba(244, 246, 240, 0.8);
  z-index: 1;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: inherit;
}

.navbar-logo {
  display: block;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(72, 85, 80, 0.5));
          filter: drop-shadow(5px 5px 10px rgba(72, 85, 80, 0.5));
  cursor: pointer;
}

.navbar-logo .logo-wrap {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 80%, 0 100%);
  background: #C0E86A;
  padding: 10px 10px 65px 10px;
}

.navbar-logo .logo-wrap .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo .logo-wrap .logo__img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navbar-logo .logo-wrap .logo__text {
  font-family: 'Balkara Free Condensed',serif;
  font-size: 3.2em;
  margin-top: 20px;
}

.navbar-logo .logo-wrap .logo__text span {
  font-family: 'Helvetica Neue Cyr Light',sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

.navbar-menu {
  display: block;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-menu__item {
  list-style: none;
  margin-right: 5em;
  position: relative;
  -webkit-transform: translateX(700px);
          transform: translateX(700px);
}

.navbar-menu__item::after {
  cursor: pointer;
  content: '';
  position: absolute;
  left: 0;
  top: 1.5em;
  width: 0;
  height: 100%;
  background: url(../../img/other/ink-separation-dark-strong.png);
  background-size: cover;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.navbar-menu__item:hover::after {
  width: 110%;
}

.navbar-menu__item:nth-child(1) {
  -webkit-animation-name: showRightOnLeft;
          animation-name: showRightOnLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.navbar-menu__item:nth-child(2) {
  -webkit-animation-name: showRightOnLeft;
          animation-name: showRightOnLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.navbar-menu__item:nth-child(3) {
  -webkit-animation-name: showRightOnLeft;
          animation-name: showRightOnLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.navbar-menu__item:nth-child(4) {
  -webkit-animation-name: showRightOnLeft;
          animation-name: showRightOnLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.navbar-menu__item:last-child {
  margin-right: 0;
}

.navbar-menu__item a {
  position: relative;
  text-decoration: none;
  font-family: 'Helvetica Neue Cyr Light',sans-serif;
  text-transform: uppercase;
  font-size: 1.6em;
  color: #000;
  z-index: 1;
  padding-left: 25px;
}

.navbar-button {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-button__text {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Helvetica Neue Cyr Light',sans-serif;
  color: #485550;
  font-size: 1.6em;
  margin-right: 1em;
}

.navbar-button__link {
  width: 2em;
  height: 1.5em;
  position: relative;
  display: inline-block;
}

.navbar-button__link span {
  background-color: #485550;
  position: absolute;
  border-radius: 1px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 2px;
}

.navbar-button__link span:nth-child(1) {
  top: 0;
  left: 0;
}

.navbar-button__link span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  opacity: 1;
}

.navbar-button__link span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 50%;
}

.navbar-button__link.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.navbar-button__link.open span:nth-child(2) {
  opacity: 0;
}

.navbar-button__link.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 100%;
  top: 50%;
}

.navbar-button:hover .navbar-button__link span:nth-child(3) {
  width: 100%;
}

.hero {
  display: block;
  position: relative;
  top: 50vh;
  font-family: 'Helvetica Neue Cyr Bold', sans-serif;
}

.hero-wrap {
  width: 15em;
  margin-left: 1.5em;
}

.hero-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-animation-name: showLeft;
          animation-name: showLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.hero-text__title {
  display: block;
  position: relative;
}

.hero-text__title::before {
  position: absolute;
  display: block;
  content: '';
  width: 1.5px;
  height: 0;
  background-color: #485550;
  margin-left: -10px;
  -webkit-animation-name: showBottomLine;
          animation-name: showBottomLine;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 1.55s;
          animation-delay: 1.55s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.hero-text__title h1 {
  margin: 0;
}

.hero-text__subtitle {
  font-size: 1.2em;
  font-family: 'Helvetica Neue Cyr Light',sans-serif;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.hero-bg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  right: 0;
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.hero-bg__img {
  max-height: 80vh;
  width: auto;
}

.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #402f44 url(../../img/other/ink/modal-bg.jpg) no-repeat center center;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: transition(opacity 0.3s 0s, visibility 0s 0.3s);
          transform: transition(opacity 0.3s 0s, visibility 0s 0.3s);
}

.cd-modal .modal-content-ink {
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cd-modal .modal-content-ink .modal-logo {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transform-origin: top;
          transform-origin: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cd-modal .modal-content-ink .modal-logo__text {
  font-family: 'Balkara Free Condensed',serif;
  color: #F4F6F0;
  font-size: 1.75em;
}

.cd-modal .modal-content-ink .modal-logo__text h1 {
  margin: 0;
}

.cd-modal .modal-content-ink .modal-logo__text h1 span {
  font-family: 'Helvetica Neue Cyr Ultra Light',sans-serif;
  font-size: 1.5em;
  color: #C0E86A;
}

.cd-modal .modal-content-ink .modal-logo::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #F4F6F0;
  margin-top: 2.5em;
}

.cd-modal .modal-content-ink .modal-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cd-modal .modal-content-ink .modal-menu__item {
  position: relative;
  list-style: none;
  margin-top: 3em;
}

.cd-modal .modal-content-ink .modal-menu__item::after {
  content: '';
  position: absolute;
  left: -20px;
  top: 1.4em;
  width: 0;
  height: 100%;
  background: url(../../img/other/ink/ink-lime.png);
  background-size: cover;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.cd-modal .modal-content-ink .modal-menu__item.active a {
  color: #C0E86A;
}

.cd-modal .modal-content-ink .modal-menu__item:hover::after {
  width: 140%;
}

.cd-modal .modal-content-ink .modal-menu__item a {
  text-decoration: none;
  color: #F4F6F0;
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Helvetica Neue Cyr Light',sans-serif;
}

.cd-modal .modal-content-ink .modal-menu__item:nth-child(1) {
  margin-top: 0;
}

.cd-modal .modal-close-wrap {
  position: relative;
  width: 100%;
  height: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cd-modal .modal-close-wrap .modal-close {
  display: block;
}

.cd-modal .modal-close-wrap .modal-close .navbar-button__text {
  color: #F4F6F0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cd-modal .modal-close-wrap .modal-close .navbar-button__link span {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #F4F6F0;
}

.cd-modal .modal-close-wrap .modal-close .navbar-button__link span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-modal .modal-close-wrap .modal-close .navbar-button__link span:nth-child(2) {
  display: none;
}

.cd-modal .modal-close-wrap .modal-close .navbar-button__link span:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cd-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .7s,  visibility 0s;
  transition: opacity .7s,  visibility 0s;
}

.cd-modal.visible .modal-close {
  visibility: visible;
  opacity: 1;
  z-index: 5;
  -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s, -webkit-transform scale(1);
  transition: visibility 0s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s, -webkit-transform scale(1);
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s, transform scale(1);
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s, transform scale(1), -webkit-transform 0.3s 0s, -webkit-transform scale(1);
}

.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
          transform: translateY(-50%) translateX(-2%);
  height: 100%;
  width: 100%;
  background: url(../../img/other/ink/ink.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}

.cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24);
          animation: cd-sequence 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-reverse 0.8s steps(24);
          animation: cd-sequence-reverse 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.no-cssanimation .cd-transition-layer {
  display: none;
}

@-webkit-keyframes cd-sequence {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2%);
            transform: translateY(-50%) translateX(-2%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
  }
}

@keyframes cd-sequence {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2%);
            transform: translateY(-50%) translateX(-2%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
  }
}

@-webkit-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
            transform: translateY(-50%) translateX(-2%);
  }
}

@keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
            transform: translateY(-50%) translateX(-2%);
  }
}

.section-title {
  display: block;
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.section-title__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title__name h3 {
  font-family: 'Helvetica Neue Cyr Light',sans-serif;
  font-size: 2em;
  margin: 0 3em;
}

.section-title__name::before, .section-title__name::after {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background: #485550;
}

.table-bg {
  position: absolute;
  left: 0;
  z-index: -1;
  top: 125vh;
}

.table-bg__compass {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0.5;
}

.table-content {
  margin-top: 2em;
  z-index: 1;
  border: 1px solid #707070;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(72, 85, 80, 0.5));
          filter: drop-shadow(5px 5px 10px rgba(72, 85, 80, 0.5));
}

.table-content .accordion-item {
  list-style: none;
  background-color: #fff;
}

.table-content .accordion-item .accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  color: #485550;
  position: relative;
  cursor: pointer;
  font-size: 1.6em;
  border-top: 0.5px solid #707070;
}

.table-content .accordion-item .accordion-header__dropdown {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.table-content .accordion-item .accordion-header:hover, .table-content .accordion-item .accordion-header.active {
  color: #000;
}

.table-content .accordion-item .accordion-header.active .accordion-header__dropdown {
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
}

.table-content .accordion-item .accordion-header.active + .accordion-body {
  height: 53em;
}

.table-content .accordion-item .accordion-body {
  width: 100%;
  height: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #fff;
  overflow: hidden;
}

.table-content .accordion-item .accordion-body .tabs-wrap {
  margin: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-content .accordion-item .accordion-body .tabs-wrap table {
  width: 100%;
  height: auto;
  border-spacing: 0;
  empty-cells: hide;
  font-size: 1.2em;
  text-align: center;
  position: relative;
  border: 1xp solid #485550;
}

.table-content .accordion-item .accordion-body .tabs-wrap table thead th {
  padding-top: 0.5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #485550;
}

.table-content .accordion-item .accordion-body .tabs-wrap table tbody td {
  padding: .5em .5em;
  border-bottom: 1px solid rgba(165, 196, 188, 0.5);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.table-content .accordion-item .accordion-body .tabs-wrap table .first,
.table-content .accordion-item .accordion-body .tabs-wrap table .second,
.table-content .accordion-item .accordion-body .tabs-wrap table .third {
  margin-right: 1em;
}

.table-content .accordion-item .accordion-body .tabs-wrap table .first {
  color: #FFD700;
}

.table-content .accordion-item .accordion-body .tabs-wrap table .second {
  color: #C0C0C0;
}

.table-content .accordion-item .accordion-body .tabs-wrap table .third {
  color: #cd7f32;
}

.table-content .accordion-item .accordion-body .tabs-wrap table .left {
  text-align: left;
}

.table-content .accordion-item .accordion-body .tabs-wrap table .right {
  text-align: right;
}

.table-content .tabs-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-content .tabs-wrap .tabs-name__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-content .tabs-wrap .tabs-name__items {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.6em;
  cursor: pointer;
  padding: .5em;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #a5c4bc;
}

.table-content .tabs-wrap .tabs-name__items p i {
  margin-right: 1em;
}

.table-content .tabs-wrap .tabs-name__items.active {
  border-top: 2px solid #C0E86A;
  border-left: 1px solid #a5c4bc;
  border-right: 1px solid #a5c4bc;
  border-bottom: 0px transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.table-content .tabs-wrap .tabs-name__items.active p {
  color: #000;
}

.table-content .tabs-wrap .tabs-name__items p {
  color: #707070;
  cursor: pointer;
}

.table-content .tabs-wrap .tabs-name__items p:hover {
  color: #000;
}

.table-content .tabs-wrap .tabs-name__items input {
  display: none;
}

.table-content .tabs-wrap .tabs-content__list {
  list-style: none;
}

.table-content .tabs-wrap .tabs-content__list table {
  margin-top: 1em;
}

.table-content .tabs-wrap .tabs-content__items {
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.table-content .tabs-wrap .tabs-content__items.active {
  width: 100%;
  display: block;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.events-bg {
  z-index: -1;
  opacity: .2;
}

.events-bg__tent {
  position: absolute;
  right: 0;
  top: 185em;
}

.events-bg__backpack {
  position: absolute;
  left: 0;
  top: 255em;
}

.events-bg__hammock {
  position: absolute;
  right: 0;
  top: 330em;
}

.events-bg__guitar {
  position: absolute;
  left: 0;
  top: 400em;
}

.timeline {
  display: block;
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background: #485550;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline__items {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 2em 0;
}

.timeline__items:first-child {
  margin-top: 0;
}

.timeline__items:last-child {
  margin-bottom: 0;
}

.timeline__items:nth-child(odd) {
  text-align: right;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.timeline__items:nth-child(odd):before {
  content: '';
  position: absolute;
  top: 1.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #485550;
}

.timeline__items:nth-child(odd) .timeline-card__info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.timeline__items:nth-child(even) {
  text-align: left;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.timeline__items:nth-child(even):before {
  content: '';
  position: absolute;
  top: 1.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #485550;
}

.timeline__items:nth-child(even) .timeline-card__info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.timeline-card {
  position: relative;
  font-family: 'Helvetica Neue Cyr Light',sans-serif;
  width: 48%;
  background: #fff;
  padding: 2em 2em;
  padding-top: 1em;
  border-radius: .2em;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(72, 85, 80, 0.5));
          filter: drop-shadow(5px 5px 10px rgba(72, 85, 80, 0.5));
}

.timeline-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timeline-card__logo {
  font-size: 2.5em;
}

.timeline-card p {
  margin-bottom: .5em;
}

.timeline-card__name {
  font-family: 'Helvetica Neue Cyr Roman', sans-serif;
  font-size: 2em;
}

.timeline-card__place {
  font-size: 1.6em;
}

.timeline-card__place span {
  font-family: 'Helvetica Neue Cyr Roman', sans-serif;
}

.timeline-card__datetime {
  font-size: 1.6em;
}

.timeline-card__datetime span {
  font-family: 'Helvetica Neue Cyr Roman', sans-serif;
}

.timeline-card__line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #707070;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 2em;
}

.timeline-card__action {
  margin-top: 2em;
  width: 100%;
  position: relative;
}

.timeline span {
  margin-right: 0.5em;
}

.btn, .timeline-card__action a {
  font-size: 1.6em;
  text-decoration: none;
  color: #485550;
  padding: .5em 1em;
  border: 1px solid #C0E86A;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: .2em;
}

.btn:hover, .timeline-card__action a:hover {
  color: #000;
  background-color: #C0E86A;
}

.events-wrap {
  position: relative;
}

.overlay {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  max-height: 100vh;
  z-index: 3;
}

.overlay.open {
  opacity: 1;
  pointer-events: inherit;
}

.modal-content {
  position: fixed;
  width: 70vw;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  border-radius: .5em;
  background: white;
  -webkit-box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.3);
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  /*
    &.open{
        opacity: 1;
        dis
        pointer-events: inherit;
        &.content{
            transform: translate(0,-0px);
            opacity: 1;
        }
    }
    &content{
        transform: translate(0, -1em);
        opacity: 0;
        transition: .3s ease-in-out;
    }*/
}

.modal-content .modal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal-content .modal-info__img {
  display: block;
  width: 40%;
  height: auto;
  margin-right: 2em;
}

.modal-content .modal-info__img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.modal-content .modal-info__text {
  width: 60%;
  font-family: 'Helvetica Neue Cyr Light',sans-serif;
}

.modal-content .modal-info__text span {
  font-family: 'Helvetica Neue Cyr Bold', sans-serif;
}

.modal-content .modal-info__text p {
  font-size: 16px;
  margin-bottom: 10px;
}

.modal-content .modal-info__name {
  font-size: 24px;
  font-family: 'Helvetica Neue Cyr Bold', sans-serif;
  margin-bottom: 20px !important;
}

.modal-content .modal-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.history-content {
  position: relative;
  height: 70vh;
}

.history-gallery {
  width: 100%;
}

.history-gallery__list {
  list-style: none;
  height: 70vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.history-gallery__items {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 30px #000;
          box-shadow: 0 0 30px #000;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.history-gallery__items .year-name {
  font-family: 'Helvetica Neue Cyr Ultra Light',sans-serif;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  font-size: 2.4em;
  padding: 0.25em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
}

.history-gallery__items .year-text {
  font-family: 'Helvetica Neue Cyr Light',sans-serif;
  color: #fff;
}

.history-gallery__items .year-text__name {
  font-family: 'Helvetica Neue Cyr Bold', sans-serif;
  font-size: 1.6em;
}

.history-gallery__items:hover, .history-gallery__items.active {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.history-gallery__items:hover .year-name, .history-gallery__items.active .year-name {
  text-align: center;
  top: calc(100% -2em);
  background: rgba(0, 0, 0, 0.65);
  border-top: 1px solid #fff;
  font-size: 3em;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.history-gallery__items:nth-child(1) {
  background-image: url(../../img/history/2015.jpg);
}

.history-gallery__items:nth-child(2) {
  background-image: url(../../img/history/2016.jpg);
}

.history-gallery__items:nth-child(3) {
  background-image: url(../../img/history/2017.jpg);
}

.history-gallery__items:nth-child(4) {
  background-image: url(../../img/history/2018.jpg);
}

.history-gallery__items:nth-child(5) {
  background-image: url(../../img/history/2019.jpg);
}

.year-bg {
  background-size: cover;
}

.year-place__items {
  list-style: decimal;
}

footer {
  width: 100%;
  height: 20em;
  background: #485550;
  margin-top: 2em;
  font-family: 'Helvetica Neue Cyr Light',sans-serif;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: #F4F6F0;
}

footer img {
  max-width: 100%;
  height: auto;
}

footer i {
  margin-right: 1em;
}

.footer-wrap {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-logo__img {
  width: 15em;
  height: 15em;
}

.footer-partners, .footer-social {
  margin: 2em 0;
}

.footer-partners__name, .footer-social__name {
  font-size: 1.6em;
  color: #F4F6F0;
  border-bottom: 1px solid #F4F6F0;
  margin-bottom: 1em;
}

.footer-partners__items, .footer-social__items {
  margin-bottom: .5em;
  font-size: 1.4em;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.footer-partners__items:hover a, .footer-social__items:hover a {
  color: #C0E86A;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showLeft {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showLeft {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes showBottomLine {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes showBottomLine {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes showRightOnLeft {
  0% {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showRightOnLeft {
  0% {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .navbar-button {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-button {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .navbar-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-menu {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .hero {
    height: 50%;
    top: 30em;
  }
  .hero-text {
    width: 50%;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-text__subtitle {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-top: 1em;
  }
  .hero-bg {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  .hero-bg__img {
    max-height: 50vh;
  }
}
/*# sourceMappingURL=style.css.map */