@keyframes fadeInMy{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes showLeft{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes showBottomLine{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

@keyframes showRightOnLeft{
    0%{
        transform: translateX(700px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes zoomIn{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

//для чернил