$bg: #F4F6F0;
$lime:#C0E86A;
$dark-strong:#485550;
$dark-light:#707070;
$white:#ffffff;


//ink
$color-1: #242322; // Tuatara
$color-2: #a5c4bc; // Opal
$color-3: #ffffff; // White
$color-4: #402f44; // Blackcurrant
$color-5: #e4dcca; // Pearl Bush

// медали
$gold: #FFD700;
$silver: #C0C0C0;
$bronze: #cd7f32;