@font-face {
    font-family: 'Balkara Free Condensed';
    src: url('../fonts/Balkara/Balkara\ Free\ Condensed\ -\ npoekmu.me\ Regular.eot') format('eot'),
    url('../fonts/Balkara/Balkara\ Free\ Condensed\ -\ npoekmu.me\ Regular.ttf') format('ttf'),
    url('../fonts/Balkara/Balkara\ Free\ Condensed\ -\ npoekmu.me\ Regular.woff') format('woff');
}

@mixin balkara {
    font-family: 'Balkara Free Condensed';
}

@font-face {
    font-family: 'Helvetica Neue Cyr Roman';
    src: url('../fonts/Helvetica/regular/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/Helvetica/regular/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica/regular/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/Helvetica/regular/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Cyr Light';
    src: url('../fonts/Helvetica/light/HelveticaNeueCyr-Light.eot');
    src: url('../fonts/Helvetica/light/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica/light/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../fonts/Helvetica/light/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Cyr Bold';
    src: url('../fonts/Helvetica/bold/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/Helvetica/bold/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica/bold/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/Helvetica/bold/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@mixin Helvetica-regular{
    font-family: 'Helvetica Neue Cyr Roman', sans-serif;
}
@mixin Helvetica-light {
    font-family: 'Helvetica Neue Cyr Light',sans-serif;
}
@mixin Helvetica-bold {
    font-family: 'Helvetica Neue Cyr Bold', sans-serif;
}