@media screen and (min-width:1200px){
    .navbar-button{
        display: none;
    }
}

@media screen and(max-width: 1200px){
    .navbar-button{
        display: none;
    }
}

@media screen and(max-width: 992px){
    .navbar-button{
        display: flex;
    }
    .navbar-menu{
        display: none;
    }
}

//изменение растоновки hero
@media screen and (max-width: 860px){
    .hero{
        height: 50%;
        top: 30em;
        &-text{
            width: 50%;
            position: absolute;
            flex-direction: column;

            &__subtitle{
                writing-mode: horizontal-tb;
                transform: rotate(0);
                align-self: start;
                margin-top: 1em;
            }
        }
        &-bg{
            transform: translateY(-25%);
            &__img{
                max-height: 50vh;
            }
        }
    }
}

@media screen and(max-width: 600px){
    //
}

@media screen and(max-width: 600px){
    //
}
