.events{
    display: flex;
    flex-direction: column;
}

.events-bg{
    z-index: -1;
    opacity: .2;
    &__tent{
        position: absolute;
        right: 0;
        top: 185em;
    }
    &__backpack{
        position: absolute;
        left: 0;
        top: 255em;
    }
    &__hammock{
        position: absolute;
        right: 0;
        top: 330em;
    }
    &__guitar{
        position: absolute;
        left: 0;
        top: 400em;
    }
}

.timeline{
    display: block;
    position: relative;
    
    &::before{
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background: $dark-strong;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__items{
        position: relative;
        list-style: none;
        display: flex;
        width: 100%;
        margin:2em 0;

        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }


        &:nth-child(odd){
            text-align: right;
            justify-content: flex-start;
            
            &:before{
                content: '';
                position: absolute;
                top: 1.5em;
                left: 50%;
                transform: translateX(-50%);
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background: #fff;
                border: 1px solid $dark-strong;
            }

            .timeline-card__info{
                flex-direction: row;
            }
        }
        &:nth-child(even){
            text-align: left;
            justify-content: flex-end;
            
            &:before{
                content: '';
                position: absolute;
                top: 1.5em;
                left: 50%;
                transform: translateX(-50%);
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background: #fff;
                border: 1px solid $dark-strong;
            }

            .timeline-card__info{
                flex-direction: row-reverse;
            }
        }
    }
    &-card{
        position: relative;
        @include Helvetica-light;
        width: 48%;
        background: #fff;
        padding: 2em 2em;
        padding-top: 1em;
        border-radius: .2em;
        filter: drop-shadow(5px 5px 10px rgba($dark-strong,0.5));
        
        &__info{
            display: flex;
            justify-content: space-between;
        }
        &__logo{
            font-size: 2.5em;
        }
        p{
            margin-bottom: .5em;
        }
        &__name{
            @include Helvetica-regular;
            font-size: 2em;
        }
        &__place{
            font-size: 1.6em;
            
            span{
                @include Helvetica-regular;
            }
        }
        &__datetime{
            font-size: 1.6em;
            span{
                @include Helvetica-regular;
            }
        }
        &__line{
            display: block;
            height: 1px;
            width: 100%;
            background-color: $dark-light;
            align-content: center;
            margin-top: 2em;
        }
        &__action{
            margin-top: 2em;
            width: 100%;
            position: relative;

            a{
                font-size: 1.6em;
                text-decoration: none;
                color: $dark-strong;
                padding: .5em 1em;
                border: 1px solid $lime;
                transition: all .3s ease-in-out;
                border-radius: .2em;

                &:hover{
                    color: #000;
                    background-color: $lime;
                }
            }
        }
    }
    span{
        margin-right: 0.5em;
    }
}

.events-wrap{
    position: relative;

}