.events{
    display: flex;
    flex-direction: column;
}

.events-bg{
    z-index: -1;
    opacity: .2;
    &__tent{
        position: absolute;
        right: 0;
        top: 185em;
    }
    &__backpack{
        position: absolute;
        left: 0;
        top: 255em;
    }
    &__hammock{
        position: absolute;
        right: 0;
        top: 330em;
    }
    &__guitar{
        position: absolute;
        left: 0;
        top: 400em;
    }
}

.timeline{
    display: block;
    position: relative;
    
    &::before{
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background: $dark-strong;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__items{
        position: relative;
        list-style: none;
        display: flex;
        width: 100%;
        margin:2em 0;

        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }


        &:nth-child(odd){
            text-align: right;
            justify-content: flex-start;
            
            &:before{
                content: '';
                position: absolute;
                top: 1.5em;
                left: 50%;
                transform: translateX(-50%);
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background: #fff;
                border: 1px solid $dark-strong;
            }

            .timeline-card__info{
                flex-direction: row;
            }
        }
        &:nth-child(even){
            text-align: left;
            justify-content: flex-end;
            
            &:before{
                content: '';
                position: absolute;
                top: 1.5em;
                left: 50%;
                transform: translateX(-50%);
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background: #fff;
                border: 1px solid $dark-strong;
            }

            .timeline-card__info{
                flex-direction: row-reverse;
            }
        }
    }
    &-card{
        position: relative;
        @include Helvetica-light;
        width: 48%;
        background: #fff;
        padding: 2em 2em;
        padding-top: 1em;
        border-radius: .2em;
        filter: drop-shadow(5px 5px 10px rgba($dark-strong,0.5));
        
        &__info{
            display: flex;
            justify-content: space-between;
        }
        &__logo{
            font-size: 2.5em;
        }
        p{
            margin-bottom: .5em;
        }
        &__name{
            @include Helvetica-regular;
            font-size: 2em;
        }
        &__place{
            font-size: 1.6em;
            
            span{
                @include Helvetica-regular;
            }
        }
        &__datetime{
            font-size: 1.6em;
            span{
                @include Helvetica-regular;
            }
        }
        &__line{
            display: block;
            height: 1px;
            width: 100%;
            background-color: $dark-light;
            align-content: center;
            margin-top: 2em;
        }
        &__action{
            margin-top: 2em;
            width: 100%;
            position: relative;
        }
    }
    span{
        margin-right: 0.5em;
    }
}

//описание стиля кнопок
.btn,.timeline-card__action a{
    font-size: 1.6em;
    text-decoration: none;
    color: $dark-strong;
    padding: .5em 1em;
    border: 1px solid $lime;
    transition: all .3s ease-in-out;
    border-radius: .2em;

    &:hover{
        color: #000;
        background-color: $lime;
    }
}

.events-wrap{
    position: relative;

}

.overlay{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(#000,.75);
    opacity: 0;
    pointer-events: none;
    transition: .3s ease-in-out;
    max-height: 100vh;
    z-index: 3;
    &.open{
        opacity: 1;
        pointer-events: inherit;
    }
    
}

.modal-content{
    position: fixed;
    width: 70vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    border-radius: .5em;
    background: white;
    box-shadow: 0px 1px 10px rgba(white, 0.3);
    opacity: 1;
    transition: 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 4;

    display: flex;//для отображения должно быть flex
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    .modal{
        &-info{
            display: flex;
            flex-direction: row;

            &__img{
                display: block;
                width: 40%;
                height: auto;
                margin-right: 2em;
                img{
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
            }

            &__text{
                width: 60%;
                @include Helvetica-light;
                
                span{
                    @include Helvetica-bold;
                }
                p{
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }
            &__name{
                font-size: 24px;
                @include Helvetica-bold;
                margin-bottom: 20px !important;
            }
            
        }

        &-action{
            display: flex;
            justify-content: flex-end;
        }
    }
    /*
    &.open{
        opacity: 1;
        dis
        pointer-events: inherit;
        &.content{
            transform: translate(0,-0px);
            opacity: 1;
        }
    }
    &content{
        transform: translate(0, -1em);
        opacity: 0;
        transition: .3s ease-in-out;
    }*/
}

