.header{
    height: 100vh;
    position: relative;
    background: $bg;
    background-image: url("https://www.transparenttextures.com/patterns/light-paper-fibers.png");
}
//шапка сайта
@import 'navbar';

//тело header
@import 'hero';

//Ink меню
@import 'ink';