.hero{
    display: block;
    position: relative;
    top: 50vh;

    &-wrap{
        width: 15em;
        margin-left: 1.5em;//для смещения container
    }
    &-text{
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        //настройки анимации
        animation-name: showLeft;
        animation-duration: 1s;

        &__title{
            display: block;
            position: relative;
            
            &::before{
                position: absolute;
                display: block;
                content: '';
                width: 1.5px;
                height: 0;//сброшено до 0, для анимации
                background-color: $dark-strong;
                margin-left: -10px;
                //настройки анимации
                animation-name: showBottomLine;
                animation-duration: 0.5s;
                animation-delay: 1.05s;
                animation-fill-mode: both;
            }

            h1{
                margin: 0;
            }
        }
        &__subtitle{
            font-size: 1.4em;
            @include segoe-light;
            writing-mode: vertical-lr;
            transform-origin: left;
            transform: rotate(180deg);
            align-self: center;
            //настройки анимации
            opacity: 0; //сброс для анимации
            animation-name: fadeIn;
            animation-duration:1s;
            animation-delay:1.5s;
            animation-fill-mode:both;
        }

    }

    &-bg{
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        right: 0;
        //настройки анимации
        opacity: 0; //сброс для анимации
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: both;

        &__img{
            max-width: 70vw;
            height: auto;
        }
    }
}