.navbar{
    position: fixed;
    width: 100%;
    height: 6em;
    background-color: rgba($bg,0.75);
    border-bottom: 1px solid $dark-light;

    &-wrap{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: inherit;
    }

    &-logo{
        display: block;
        filter: drop-shadow(5px 5px 10px rgba($dark-strong,0.5));
        cursor: pointer;

        .logo-wrap{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 80%, 0 100%);
            background: $lime;
            padding: 10px 10px 45px 10px;

            .logo{
                display: flex;
                flex-direction: column;
                align-items: center;

                &__img{
                    transform: scale(1);
                }

                &__text{
                    @include balkara;
                    font-size: 3.2em;
                    span{
                        @include segoe-light;
                        font-size: 1.3em;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    &-menu{
        display: block;
        height: inherit;
        display: flex;
        align-items: center;

        &__list{
            display: block;
        }

        &__item{
            display: inline-block;
            list-style: none;
            margin-right: 5em;
            transition: 0.3s ease-in-out;
            &:last-child{
                margin-right: 0;
            }

            a{
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.6em;
                color: #000;
                &::after{
                    position: absolute;
                    display: block;
                    content: '';
                    height: 1.5px;
                    width: 0;
                    background-color: $dark-strong;
                    margin-top: 0.25em;
                    transition: 0.2s ease-in-out;
                }
                &:hover::after{
                    width: 100%;
                }
                &.active::after{
                    position: absolute;
                    display: block;
                    content: '';
                    height: 1.5px;
                    width: 100%;
                    background-color: $dark-strong;
                    margin-top: 0.25em;
                }
            }
        }
    }

    &-button{
        height: inherit;
        display: flex;
        align-items: center;
        //отключение видимости
        display: none;
        &__link{
            cursor: pointer;
            height: 1.5em;
            width: 2em;
            display: flex;
            flex-wrap: wrap;
            align-content:space-between;
            justify-content:flex-end;
            &:hover{
                span:nth-child(3){
                    width: 100%;
                }
            }

            span{
                display: block;
                height: 1.8px;
                width: 100%;
                background-color: $dark-strong;
            }
            span:nth-child(3){
                width: 50%;
                transition: 0.2s ease-in-out;
            }
        }
    }
}