@import 'section-title';

.table{

    &-bg{
        position: absolute;
        left: 0;
        z-index: 0;
        top: 125vh;

        &__compass{
            transform-origin: left top;
            transform: scale(0.5);
            opacity: 0.5;
        }
    }

    &-content{
        margin-top: 2em;
        z-index: 1;
        border: 1px solid $dark-light;

        .accordion-item{
            list-style: none;
            background-color: #fff;

            .accordion-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 15px;
                color: $dark-strong;    
                position: relative;
                cursor: pointer;
                font-size: 1.6em;
                border-top: .5px solid $dark-light;
                
                &__dropdown{
                    transition: all .5s ease;
                }
                &:hover,
                &.active{
                    color: #000;
                }
                &.active{
                    .accordion-header__dropdown{
                        transform: scale(-1,-1);
                    }
                }
                &.active + .accordion-body{
                    height: 40em;
                }

            }

            .accordion-body{
                width: 100%;
                height: 0;
                transition: all 0.3s ease;
                background: #fff;
                overflow: hidden;

                .tabs-wrap{
                    margin: 1em 2em;
                    display: flex;
                    justify-content: center;

                    table{
                        width: 100%;
                        height: auto;
                        font-size: 1.2em;
                        text-align: center;
                        position: relative;
                        border: 1xp solid $dark-strong;

                        thead{
                            
                            th{
                                padding-top: 0.5em;
                                padding-bottom: .5em;
                                border-right: .5px solid $dark-strong;
                                
                                &:last-child{
                                    border-right: 0px;
                                }
                            }
                        }

                        tbody{
                            tr{
                                &:nth-child(odd){
                                    background: $color-2;
                                }
                            }
                            td{
                                //border-right: .5px solid $dark-strong;
                                padding: .25em .5em;
                            }
                        }

                        .first,
                        .second,
                        .third{
                            margin-right: 1em;
                        }
                        .first{
                            color: $gold;
                        }
                        .second{
                            color: $silver;
                        }
                        .third{
                            color: $bronze;
                        }
                        .left{
                            text-align: left;
                        }
                        .right{
                            text-align: right;
                        }
                    }
                }
            }
            
        }

    }
}