@import 'section-title';

.table{

    &-bg{
        position: absolute;
        left: 0;
        z-index: 0;
        top: 125vh;

        &__compass{
            transform-origin: left top;
            transform: scale(0.5);
            opacity: 0.5;
        }
    }
}